// Navigation Styles here
header{
    .flexin(row, space-between, center);
    padding: 4% 0;
    border-bottom: 2px dashed @navigation-border;

    nav{
    width: 40%;    
    .flexin(row, space-evenly, center);

    a{
        font-size: 1.6rem;
        text-decoration: none;
        color: @font-color;

        }//this closes nav a 
    }// this closes nav
}// this closes header